.card_wrapper {
  text-align: center;
  width: 30%;
  height: 50%;
  display: flex;
}

.product_card {
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  margin: 20px 45px;
  box-shadow: 1px 1px 14px gray;
  background: #efeeee;
  gap: 10px;
}

.product_card:hover {
  transform: scale(1.1, 1.1);
}

.product_image {
  transform: scale(1, 1);
  transition: transform 0.5s ease;
  padding: 20px;
}

.product .cart-product-image {
  width: 180px;
  height: 150px;
  border-radius: 15px;
}

.product .cart-product-image {
  width: 25%;
  height: 25%;
}

.product-name {
  font-weight: 500;
}

.del_btn {
  background-color: #dc143c;
  color: white;
  padding: 0.4rem;
  border-radius: 10px;
  border: none;
  font-size: 1.15rem;
  font-weight: 500;
}
