.navbar {
  background-color: white;
  padding: 0.5rem 3rem;
}

.navbar h4 {
  margin: 0;
  margin-left: 4px;
}

.linktohome {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.ui_styles {
  display: flex;
  margin: 0;
}

.ui_styles li {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.15rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ui_styles li a {
  text-decoration: none;
  color: black;
}

.ui_styles li:hover {
  background-image: linear-gradient(to right, #ff4d4d, #ff8080);
  border-radius: 8px;
}

.ui_styles li:hover a {
  color: white;
}

.ui_styles li .icon {
  margin-right: 0.3rem;
}

.ui_styles li:hover .icon {
  color: white;
}

.icon svg {
  margin-top: -4px;
}

.logo {
  background-image: url(/public/logo192.png);
  width: 25px;
  height: 25px;
  background-size: cover;
  margin: 0;
}
