.p_2_80 {
  padding: 2px 12rem;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 1px solid black;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
