.login_left_img {
  width: 1000px;
  /* height: 500px; */
  /* transform: scale(1.1); */
  /* border-radius: 12px; */
  /* box-shadow: 0px 0px 50px gray; */
  background-image: url(/public/sinup.jpg);
  background-size: cover;
}
